.header {
    height: var(--header-height) ;
    background-image: linear-gradient(0,#bd1e1e,#ec4545);
}
.header__navbar {
    display: flex;
    justify-content: space-between;
}
.header__navbar-item,
.header__navbar-item-link {
    text-decoration: none;
    list-style:none;
    display: inline-block;
    font-size: 1.5rem;
    color: var(--white-color);
    font-weight: 300;
    min-height: 26px;
}
.header__navbar-item,
.header__navbar-item-link,
.header__navbar-icon {
    display:flex;
    align-items: center;
}
.header__navbar-item {
    margin: 0 10px;
    position: relative;
}
.header__navbar-item--bold {
    font-weight: 500 ;
}
.header__navbar-list {
    padding-left: 0;
    display: flex;
    align-items: center;
    list-style: none;
}
.header__navbar-item--seperate::after {
    content: "";
    display: block;
    position: absolute;
    height: 15px;
    border-left: 1px solid #ffffff;
    right: -12px;
    top: 50%;
    transform: translateY(-50%); 
    /* dịch theo chiều dọc của 50% chiều cao (height) */
}

/* user */
.header__navbar-user-img {
    width: 22px;
    height: 22px;
    border-radius: 50%;
    border: 1px solid rgba(0, 0,0 , 0.1);
}
.header__navbar-user {
        display: flex;
        justify-content: center;
        position: relative;
}
.header__navbar-user:hover .header__navbar-user-menu {
    display: block;
}
.header__navbar-user-menu {
    position: absolute;
    z-index: 1;
    padding-left: 0;
    top: calc(100% + 6px);
    right: 0;
    background-color: var(--white-color);
    border-radius: 2px;
    width: 160px;
    list-style: none;
    box-shadow: 0 1px 5px #ccc;
    animation: fadeIn ease .2s;
    display: none;
}  
.header__navbar-user-menu::before {
    content: "";
    display: block;
    position: absolute;
    height: 20%;
    width: 100%;
    top: -19px;
    right: 0px;
}
.header__navbar-user-menu::after {
    content: "";
    position: absolute;
    top: -17px;
    right: 22px;
    border-style: solid;
    border-width: 9px 13px;
    border-color: transparent transparent var(--white-color) transparent;
}

.header__navbar-user-name {
    margin-left: 4px;
    font-size: 1.4rem;
    font-weight: 500;

}
.header__navbar-user-item--separate {
    border-top: 1px solid rgba(0, 0,0 , 0.05);
}
.header__navbar-user-item a {
    text-decoration: none;
    color: var(--text-color);
    font-size: 1.4rem;
    padding: 7px 16px;
    display: block;
}
.header__navbar-user-item a:hover {
    background-color: #FAFAFA;
}


.header__navbar-item:hover ,
.header__navbar-icon:hover,
.header__navbar-item-link:hover{
    cursor: pointer;
    color: rgba(255,255,255,0.8);
}
.header_navbar-icon-link {
    color: var(--white-color);
    text-decoration: none;
}
.header_navbar-icon-link:nth-child(2) {
    margin-left: 5px;
}
.header__navbar-icon {
    font-size: 1.8rem;
    margin: 0 6px;
}   
.header__navbar-item-title--nopointer {
    cursor: text;
    color: var(--white-color);
}
/* header qr code */
.header__navbar-item--appear-qr:hover .header__qrcode {
    display: block;
}
.header__qrcode {
    background-color: var(--white-color);
    width: 186px;
    position: absolute;
    left: 0;
    top: 135%;
    padding: 8px;
    border-radius: 2px;
    display: none ;
    animation: fadeIn .2s ease-in;
    z-index: 1;
    box-shadow: 0 1px 2px 0 rgba(0, 0, 0, 0.1);
}
.header__qrcode::before {
    content: "";
    position: absolute;
    display: block;
    width: 100%;
    height: 30px;
    left: 0;
    top: -25px;
}
.header__qrcode-img {
    width: 100%; /*nằm full vào bên trong thẻ qrcode*/
    
}
.header__qrcode-apps {
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
}

.header__qrcode-download-img {
    height: 15px;
}
.header__qrcode-linkimg:nth-child(2) {
    margin-right: 10px;
}   
/* Header Notification */
.header__notify {
    z-index: 2;
    position: absolute;
    top: 128%;
    width: 404px;
    background-color: var(--white-color) ;
    right: 0;
    border: 1px solid #D3D3D3;
    border-radius: 2px;
    transform-origin: calc(100% - 20px) top;
    animation: headerNotifyGrowth ease-in .2s;
    display: none;
    will-change: opacity, transform;
}
.header__notify::before {
    content: "";
    border-style:solid;
    border-color: transparent transparent var(--white-color) transparent;
    border-width:20px 27px ;
    position: absolute;
    right: 4px;
    top: -28px;
}
.header__notify::after {
    content: "";
    display: block;
    position: absolute;
    width: 50%;
    height: 30px;
    top: -25px;
    right: 0;
}

.header__navbar-item--appear-notify:hover .header__notify {
    display: block;
}
@keyframes headerNotifyGrowth {
    from {
        opacity: 0;
        transform: scale(0);
    }
    to {
        opacity: 1;
        transform: 1;
    }
}
.header__notify-header {
    height: 40px;
    background-color: var(--white-color);
    cursor: default;
    user-select: none;
    margin-bottom:10px ;


}
.header__notify-header h3 {
    color: #a8a2a2;
    margin: 0 0 0 12px;
    font-size: 1.6rem; 
    font-weight: 400;
    line-height: 50px;
}
.header__notify-list {
    padding-left:0 ;
}
.header__notify-item {
    display: flex;

}
.header__notify-item:hover {
    background-color: #f8f5f5;
}
.header__notify-item--viewed {
    background-color: rgba(238, 75,43,0.1);
}
.header__notify-link {
    display: flex;
    width: 100%;
    padding: 12px;
    text-decoration: none;
}
.header__notify-info {
    margin-left: 10px;
}
.header__notify-img {
    width: 50px ;
    height: 40px ;
    object-fit: contain;
}
.header__notify-name {
    display: block;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 1.8rem;

}
.header__notify-desc {
    display: block;
    font-size: 1.2rem;
    color: #756F6E;
    line-height: 1.6rem;
    margin-top: 5px;

}
.header__notify-footer {
    display: flex;
    
   
}
.header__notify-footer-btn {
    text-decoration: none;
    color: var(--text-color);
    width: 100%;
    padding: 10px 0;
    display: block;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;

}
/* Authen modal */
.auth-form {
    width: 500px;
    overflow: hidden;
    border-radius: 5px;
    background-color: var(--white-color);
}
.auth-form__container {
    padding: 0 32px;
}
.auth-form__header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 12px;
    margin-top: 10px;
}
.auth-form__heading {
    font-size: 2.2rem;
    font-weight: 400;
    color: var(--text-color);

}
.auth-form__switch-btn {
    color: var(--primary-color);
    font-size: 1.6rem;
    font-weight: 500;
    cursor: pointer;
}

.auth-form__input {
    width: 100%;
    height: 40px;
    margin-top: 16px;
    padding: 0 12px;
    font-size: 1.4rem;
    border: 1px solid var(--border-color);
    border-radius: 2px;
    outline: none;
}
.auth-form__input:focus  {
    border-color: #777;
}
.auth-form__aside {
    margin-top: 18px;
}
.auth-form__policy-text {
    font-size: 1.2rem;
    line-height: 1.6rem;
    text-align: center;
    padding: 0 12px;
}
.auth-form__text-link {
    color: var(--primary-color);
    text-decoration: none;
    
}
.auth-form__controls {
    margin-top: 80px;
    display: flex;
    justify-content:end ;
}
.auth-form__socials {
    background-color: #f5f5f5;
    padding: 16px 36px;
    display: flex;
    justify-content: space-between;
    margin-top: 22px;
}
.auth-form__controls-back {
    margin-right: 8px;
}
.btn.btn--size-s  {
    font-size: 1.2rem;
    height: 30px;
    padding: 0 13px;
}
.auth-form__socials-icon {
    font-size: 1.8rem;

}
.auth-form__socials--facebook {
    background-color: #3A5A98;
}
.auth-form__socials--facebook,
.auth-form__socials--icon {
    color: var(--white-color);
}
.auth-form__socials-title {
    margin:0 20px;
}
.auth-form__socials--google {
    background-color: var(--white-color);
    color: #666;
    font-size: 1.2rem;
    padding: 0 8px;
}
.auth-form__help {
    display: flex;
    justify-content: end;
    
}
.auth-form__help-link {
    font-size: 1.4rem;
    text-decoration: none;
    color: #939393;
}
.auth-form__help-separate {
    display: block;
    border-left: 1px solid #EAEAEA;
    height: 22px;
    margin: -2px 16px;

}
.auth-form__help--forgot {
    color: var(--primary-color);
}
/* Header with search */
.header-with-search {
    height: var(--header-with-search-height);
    display: flex;
    align-items: center;
}
.header__logo {
    width: 200px;
    padding: 0 0 15px 0;
}
.header__logo-img {
    width: 150px;
}
.header__logo-link {
    text-decoration: none;
    color: transparent;
}
.header__search {
    background-color: var(--white-color);
    height: 40px;
    flex: 1;
    border-radius: 2px;
    display: flex;
    align-items: center;
    margin-left: 10px;
}
.header__cart {
    width: 155px;
    text-align: center;
    margin-top: 2px;
}
.header__cart-wrap {
    position: relative;
    display: inline-block;
    padding: 0 8px;
    cursor: pointer;
}
/* Đóng gói khi muốn hover vào icon */
.header__cart-wrap:hover .header__cart-list {
    display: block;
} 
.header__cart-icon {
    color: var(--white-color);
    font-size: 2.4rem;
}

.header__cart-notice {
    font-weight: 500;
    position: absolute;
    padding: 0.5px 6px;
    color: var(--primary-color);
    border-radius: 10px;
    background-color: var(--white-color);
    font-size: 1.4rem;
    line-height: 1.4rem;
    border: 2px solid #9b0f0f;
    top: -12px;
    right: -6px;
}

.header__cart-list {
    position: absolute;
    top: calc(100% + 9px);
    right: -1px;
    background-color: var(--white-color);
    box-shadow: 0 1px 30px 0 rgba(0, 0,0 , 0.2);
    width: 400px;
    display: none;
    animation: fadeIn ease-in .2s;
    cursor:default;
    border-radius: 1.5px;
    z-index: 2;
}
/* cách làm tam giác border */
.header__cart-list::before {
    content: "";
    position: absolute;
    right: 6px;
    top: -18px;
    border-width: 10px 15px;
    border-style: solid;
    border-color: transparent transparent var(--white-color) transparent;
}


.header__cart-list::after {
    content: "";
    display: block;
    position: absolute;
    right: 0px;
    top: -28px;
    width: 100%;
    height: 15%;
}
.header__cart-no-cart-img {
    width: 54%;
    display: none;
}
.header__cart-list-no-cart-mes {    
    font-size: 1.4rem;
    margin-top: 14px;
    color: var(--text-color);
    display: none;
}
.header__cart-list--no-cart {
    padding: 24px 0;  
}
.header__cart-list--no-cart .header__cart-no-cart-img,
.header__cart-list--no-cart .header__cart-list-no-cart-mes {
    display: block; /* block: hiện sang một bên theo dọc*/
    margin-left: auto;
    margin-right: auto;
}

/* Cart item */
.header__cart-heading {
    text-align: left;
    margin: 10px 0 10px 12px;
    font-size: 1.4rem;
    color: #999;
    font-weight: 400;
}
.header__cart-list-item {
    padding-left: 0;
    list-style: none;
    height: 56vh;
    overflow-y: auto;
    /* lướt trong box giỏ hàng */
}
.header__cart-item {
    display: flex;
    align-items: center;
}
.header__cart-img {
    width: 44px;
    height: 42px;
    margin: 12px;
    border: 1px  solid #E8E8E8;
}

.header__cart-item-info {
    width: 100%;
    margin-right: 12px;
}
.header__cart-item-head {
    display: flex;
    align-items: center;
    justify-content: space-between;

}
.header__cart-item-name {
    font-size: 1.4rem;
    font-weight: 500;
    color: var(--text-color);
    margin: 0;
    line-height: 2rem;
    max-height: 4rem;
    overflow: hidden;
    flex: 1;
    padding-right: 16px;
    display: -webkit-box;
    -webkit-box-orient: vertical ;
    -webkit-line-clamp: 2;
    text-align: left;
}

.header__cart-item-price {
    font-size: 1.4rem;
    font-weight: 400;
    color: var(--primary-color);
    
}
.header__cart-item-multiply {
    color: #757575;
    font-size: 0.9rem;
    margin: 0 4px;
}
.header__cart-item-qnt {
    color: #757575;
    font-size: 1.2rem;
}
.header__cart-item-body {
    display: flex;
    justify-content: space-between;
    margin-top: 7px;
}
.header__cart-item-desc {
    color: #757575;
    font-size: 1.2rem;
    font-weight: 300;
}
.header__cart-item-remove {
    color: var(--text-color);
    font-size: 1.4rem;
    font-weight: 400;
}
.header__cart-item-remove:hover {
    color: var(--primary-color);
    cursor: pointer;
}
.header__cart-item:hover {
    background-color: #FAFAFA;
}

.header__cart-view-cart {
    float: right;
    margin: 0 12px 12px 0;
}
.header__cart-view-cart:hover {
    background-color: #F05D41;
}
.header__search-input-wrap {
    flex: 1;
    height: 100%;
    position: relative;
}
.header__search-input {
    width: 100%;
    height: 100%;
    border: none;
    outline: none;
    color: var(--text-color);
    padding: 0 8px;
    font-size: 1.5rem;
    border-radius: 2px;
}
.header__search-select {
    border-left: 1px solid var(--border-color);
    padding: 0 15px;
    display: flex;
    align-items: center;
    height: 30px;
    position: relative;
    cursor: pointer;
}
.header__search-select_label {
    font-size:1.4rem ;
    color: var(--text-color);
    padding: 0 5px;
}
.header__search-select_icon {
    color: #4A4A4A;
    margin-bottom: 5px;
}
.header__search-btn {
    background-color: var(--primary-color);
    border: none;
    height: 34px;
    width: 60px;
    border-radius: 2px;
    margin: 3px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.header__search-btn-icon {
    font-size: 1.6rem;
    color: var(--white-color);
}
.header__search-btn:hover {
    background-color:#ff6b4d;
    cursor: pointer;
}
.header__search-option {
    display: none;
    position: absolute;
    right: 0;
    top: 94%;
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 0.5px 3px #ccc;
    padding-left: 0;
    width: 120px;
    animation: fadeIn ease .2s;
}
.header__search-option-item {
    list-style: none;
    font-size: 1.05rem;
    padding: 8px;
    display: flex;
}
.header__search-option-item span {
    font-size: 1.4rem;
    color: var(--text-color);
    margin-left: 5px;
}
.header__search-option-item i {
    font-size: 1.2rem;
    color: var(--primary-color);
    margin-left: 15px;
}
.header__search-option-item:hover {
    background-color: #FAFAFA;
    cursor: pointer;
}

.header__search-select:hover .header__search-option {
    display: block;
}
.header__search-select::before {
    content: "";
    height: 30px;
    position: absolute ;
    top: 20px;
    right:0;
    width: 100%;
}
/* History */
.header__search-history {
    position: absolute;
    top: calc(100% + 3px);
    left: 0;
    width: calc(100% - 16px);
    background-color: var(--white-color);
    border-radius: 2px;
    box-shadow: 0 1px 5px 0.5px#e2e0e0;
    display: none;
    z-index: 1;
}
.header__search-input:focus ~ .header__search-history {
    display: block;
}

.header__search-history-heading {
    margin: 10px 12px;
    font-size: 1.6rem;
    font-weight: 400;
    color: #999;
}
.header__search-history-list {
    padding-left:0 ;
    margin-top: 0;
    margin-bottom: 0;
}
.header__search-history-list-item {
    list-style: none;
    height: 38px;
    padding:0 12px;
    cursor: pointer;
}
.header__search-history-list-item a {
    display: block;
    text-decoration: none;
    font-size: 1.4rem;
    color: var(--text-color);
    font-weight: 500;
    line-height: 38px; /*Đặt bằng height của ul list để căn giữa theo height*/
}
.header__search-history-list-item:hover {
    background-color: #FAFAFA;
}
/* App Container */
.app__container {
    background-color: #F5F5F5;
}
.category {
    border-radius: 2px;
    background-color: var(--white-color);
    
}
.category__heading {
    font-size: 1.5rem;
    color: var(--text-color);
    padding: 12px 16px;
    border-bottom: 1px solid rgba(0, 0,0 , 0.05);
    margin-top: 0;
    text-transform: uppercase;
    font-weight: 600;
}
.category__heading-icon {
    font-size: 1.4rem;
    margin-right: 4px;
    position: relative;
    top: -2px;
}
.category-list {
    padding: 0 0 8px 0;
    list-style: none;
    margin-left: 9px;
}
.category-item {
    position: relative;
}
.category-item::before {
    border-top: 1px solid #E1E1E1;
    content: "";
    position: absolute;
    top: 0;
    left: 16px;
    right: 16px;
}
.category-item:first-child::before {
    display: none;
}
.category-item--active .category__link {
    color: var(--primary-color);
}
.category-item--active .category__link::before {
    position: absolute;
    content: "";
    border-style: solid;
    border-width: 4px;
    border-color: transparent transparent transparent var(--primary-color);
    top: 50%;
    left: 8px;
    transform: translateY(-50%);
}
.category__link {
    position: relative;
    display: block;
    font-size: 1.5rem;
    text-decoration: none;
    color: var(--text-color);
    padding: 8px 20px;
    transition: right linear .1s; /* list animation new*/
    right: 0;
}
.category__link:hover {
    color: var(--primary-color);
    right: -4px;
}

/* Home sort filter*/

.home-filter {
    background-color: rgba(0, 0,0 , 0.04);
    display: flex;
    align-items: center;
    padding: 12px 22px;
    border-radius: 2px;
}
.home-filter__page {
    display: flex;
    margin-left: auto;
    align-items: center;
}
.home-filter__label {
    color: #555555;
    font-size: 1.4rem;
    margin-right: 16px;
}
.home-filter-btn {
    margin-right: 12px;
}
.btn--shadow {
    box-shadow: 0 1px 6px 0px #ccc;
}
.home-filter__page-num {
    font-size: 1.5rem;
    color: var(--text-color);
    margin-right: 22px;
}
.home-filter__page-current {
    color: var(--primary-color);
}
.home-filter__page-nav {
    border-radius: 2px;
    display: flex;
    width: 72px;
    height: 36px;
}
.home-filter__page-btn {
    flex: 1;
    display: flex;
    background-color: var(--white-color);
    text-decoration: none;
}
.home-filter__page-icon {
    margin: auto;
    font-size: 1.4rem;
    color: #555;
}
.home-filter__page-btn:first-child {
    border-right: 1px solid #EEE;
}
.home-filter__page-btn--disabled .home-filter__page-icon {
    color: #ccc;
}
.home-filter__page-btn--disabled {
    background-color: #F9F9F9;
    cursor: default;
}
/* Product */
/* thẻ h sẽ mặc định có margin */
/* thẻ ul sẽ mặc định có padding */
.home-product {
    margin-bottom: 10px;
}
.home-product-item {
    display: block;
    text-decoration: none;
    background-color: var(--white-color) ;
    margin-top: 10px;
    position: relative;
    border-radius: 2px;
    box-shadow: 0 1px 2px 0 rgba(0, 0,0 , 0.1);
    transition: transform ease-in .1s;
    will-change: transform;
}
.home-product-item:hover {
    box-shadow: 0 1px 20px 0 rgba(0, 0,0 , 0.05);
    transform: translateY(-1px);
}
.home-product-item__img {
    padding-top: 100%;
    background-size: 100%; /* hoặc sử dụng contain*/
    background-repeat: no-repeat;
    background-position: top center;
    border-top-left-radius: 2px;
    border-top-right-radius: 2px;
}
.home-product-item__name {
    font-size:1.4rem;
    font-weight: 400;
    color: var(--text-color);
    line-height: 1.8rem;
    margin: 10px 10px 6px ;
    height: 3.6rem;
    overflow: hidden ;
    display: block;
    /* ...  */
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 2;
    text-overflow: ellipsis;
}
.home-product-item__price {
    display: flex;
    align-items: baseline;
    flex-wrap: wrap;
}
.home-product-item__price-old {
    margin-left: 10px;
    font-size: 1.4rem;
    color: #666;
    text-decoration: line-through;
}
.home-product-item__price-current {
    font-size: 1.6rem;
    color: var(--primary-color);
    margin-left: 10px;
}
.home-product-item__action {
    display: flex;
    justify-content: space-between;
    margin: 6px 10px 0;
}
.home-product-item__like {
    font-size: 1.4rem;
}
.home-product-item__like--liked i.home-product-item__like-icon-fill {
    display: inline-block;

}
i.home-product-item__like-icon-fill {
    display: none;
    color: #F63D30;
}
.home-product-item__like--liked .home-product-item__like-icon-empty {
    display: none;
}
.home-product-item__rating {
    font-size: 0.8rem;
    color: #D5D5D5;
    margin: -1px 0 0 auto;
}
.home-product-item__star--gold {
    color:var(--star-gold-color) ;
}
.home-product-item__sold {
    font-size: 1.2rem;
    color: var(--text-color);
    margin-left: 6px;
}
.home-product-item__origin {
    display: flex;
    justify-content: space-between;
    margin: 10px 10px 5px;
    color: #595959;
    font-size: 1.2rem;
    font-weight: 300;
}
.home-product-item__brand {
    /* margin-right: auto; cũng có thể đẩy ra xa */


}
.home-product-item__origin-name {

}
.home-product-item__favorite {
    position: absolute;
    top: 10px;
    left: -4px;
    color: var(--primary-color);
    background-color: currentColor;
    font-size: 1.2rem;
    font-weight: 500;
    line-height: 1.6rem;
    padding-right: 4px;
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;

}
.home-product-item__favorite span {
    color: var(--white-color);
}
.home-product-item__favorite i {
    font-size: 0.9rem;
    color: var(--white-color);
    margin: 0 2px 0 5px;
}
.home-product-item__favorite::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: -3px;
    border-top: 3px solid currentColor;
    border-left: 3px solid transparent;
    filter: brightness(60%);
}
.home-product-item__sale-off {
    position: absolute;
    top: 0;
    right: 0;
    background-color: rgba(255,216,64,0.944);
    width: 40px;
    height: 36px;
    text-align: center;
    border-top-right-radius: 2px;
}
.home-product-item__sale-off::after {
    content: "";
    position: absolute;
    left: 0;
    bottom: -4px;
    border-width: 0 20px 4px;
    border-style: solid;
    border-color: transparent rgba(255,216,64,0.944) transparent rgba(255,216,64,0.944) ;
}
.home-product-item__sale-off-percent {
    color: #EE4D2D;
    font-weight: 600;
    font-size: 1.2rem;
    line-height: 1.2rem;
    position: relative;
    top: 3px;
}
.home-product-item__sale-off-label {
    font-size: 1.3rem;
    line-height: 1.3rem;
    color: var(--white-color);
    font-weight: 500;
    position: relative;
    top: 3px;
}
.home-product__pagination {
    margin: 48px 0 32px 0;
}
/* Footer */
.footer {
    border-top: 4px solid var(--primary-color);
    padding: 16px 0;
    height: 165px;
}   
.footer__heading {
    font-size: 1.4rem;
    text-transform: uppercase;
    color: var(--text-color);

}
.footer-list {
    padding-left: 0;
    list-style: none;
}
.footer-item-link {
    text-decoration: none;
    font-size: 1.2rem;
    color: #737373;
    padding: 3px 0;
    display: flex;
    align-items: center;
}
.footer-item-link:hover {
    color: var(--primary-color);
}
.footer-item-link-icon {
    font-size: 1.6rem;
    margin:-1px 8px 0 0;
}
.footer__download {
    display: flex;
}
.footer__download-qr {
    width: 80px;
    height: 80px;
    /* object-fit: contain; */
    border: 1px solid var(--border-color);
}
.footer__download-apps {
    margin-left: 16px;  
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.footer__download-apps-img {
    height: 17px;
}
.footer__download-apps-link {
    text-decoration: none;
    color: transparent;
}
.footer__bottom {
    background-color: #F5F5F5;
    min-height: 48px;
    padding: 24px 0;
    margin-top: 20px;
}
.copyright {
    margin: 0;
    font-size: 1.2rem;
    text-align: center;
}